.body {
    margin: 0;
    color: #666;
    background-color:#f8f8f8 !important;
    font-size: 13px;
    line-height: 1.5715;
    width: 100%;
    height: 100%;
    overflow-y: hidden;

}

.wrapper {
    position: absolute;
    top: 45%;
    left: 50%;
    margin: -160px 0 0 -160px;
    width: 320px;
    height: 320px;
    padding: 36px;
    box-shadow: 0 0 100px rgb(0 0 0 / 8%);
}

.logo {
    text-align: center;
    cursor: pointer;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 40px;
        margin-right: 8px;
        vertical-align: middle;
        border-style: none;
    }

    span {
        vertical-align: text-bottom;
        font-size: 16px;
        text-transform: uppercase;
        display: inline-block;
        font-weight: 700;
        color: #1890ff;
        background-image: -webkit-gradient(linear, 37.219838% 34.532506%, 36.425669% 93.178216%, from(#29cdff), to(#0a60ff), color-stop(0.37, #148eff));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.ant-form{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #666;
    font-size: 13px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;

   
    .ant-form-item{
        display: flex;
    flex-flow: row wrap;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        color: #666;
        font-size: 13px;
        font-variant: tabular-nums;
        line-height: 1.5715;
        list-style: none;
        font-feature-settings: 'tnum', "tnum";
        vertical-align: top;
        transition: margin-bottom 0.3s 0.017s linear;

        .ant-form-item-control{
            position: relative;
            width: 100%;
            max-width: 100%;
            min-height: 1px;
            display: flex;
            flex-direction: column;
        .ant-form-item-control-input{
            position: relative;
            display: flex;
            align-items: center;
            min-height: 32px;
            .ant-form-item-control-input-content{
                flex: auto;
                max-width: 100%;
            }
        }
        }
        
    }
    .ant-button{
        display: flex;
        flex-flow: row wrap;
        p{
            color: #cccccc !important;
            text-align: center;
            margin-top: 16px;
            font-size: 12px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 1em;
            .margin-right{
                margin-right: 16px;
            }
        }
    }
}
.footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 48px 0 24px 0;
    padding: 0 16px;
    text-align: center;
    .footer-item{
        margin-right: 18px;
        cursor: pointer;
        a{
            color: rgba(0, 0, 0, 0.45);
        }
        button{
            color: rgba(0,0,0,.45);
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
    }
}