.header-item-right{
   // margin-left: calc(100% - 530px);
   width: calc(100vw - 328px);
   text-align: right;
   // margin-right: 17%;
}
.header-item-rightClose{
   width: calc(100vw - 206px);
   text-align: right;
 }
 .dropdown-trigger {
   display: inline-flex;
   margin-left: 10px;
   margin-right: 10px;
}
.img-circle{
   width: 31px;
   height: 31px;
   margin-right: 8px;
   border-radius: 50%;
}
// @media (max-width: 1000px){
//     .header-item-right{
//         margin-left: calc(100% - 356px);
//     }
// }