.header-item-right{
   margin-left: calc(100% - 472px);
}
.header-item-rightClose{
    margin-left: calc(100% - 355px);
 }
 .dropdown-trigger {
   display: inline-flex;
   margin-left: 10px;
   margin-right: 10px;
}
.img-circle{
   width: 31px;
   height: 31px;
   margin-right: 8px;
   border-radius: 50%;
}
// @media (max-width: 1000px){
//     .header-item-right{
//         margin-left: calc(100% - 356px);
//     }
// }