
.header {
   padding: 0;
   position: fixed;
   background-color: #fff;
   height: 72px;
   z-index: 1;
   width: 100%;
}
.header-item-right{
   width: calc(100vw - 300px);
   text-align: right;
}
.header-item-rightClose{
   width: calc(100vw - 193px);
   text-align: right;
   span.anticon {
      width: 100%;
  }
 }
 .dropdown-trigger {
   display: inline-flex;
   margin-left: 10px;
   margin-right: 10px;
}
.img-circle{
   width: 31px;
   height: 31px;
   margin-right: 8px;
   border-radius: 50%;
}