.ant-layout.ant-layout-has-sider {
background-color: white;
}
 /* sidebar */
 .ant-layout-sider{
  background-color: transparent;
 }
 .ant-menu-inline {
  background-color: transparent;
}



.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}
@media (max-width: 767px) {

    .ant-pagination-item,
    .ant-pagination-next,
    .ant-pagination-options,
    .ant-pagination-prev {
      margin-bottom: 8px;
    }
  }
